// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  .rs a {
    display: block;
    width: 61px;
    height: 23px;
    background-image: url('../assets/svg/logo_rss.svg');
    background-size: 61px 23px;
  }
}
