// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  display: inline-block;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 56px;
  text-align: center;
  padding: 14px 30px;
  background: transparent;
  color: $text-color;
  font-size: 24px;
  line-height: 28px;
  @include on-event() {
    background-color: transparent;
  }
  cursor: pointer;
  transition: background-color 0.5s;
  -webkit-tap-highlight-color: transparent;
}

.button-white {
  @extend .button;
  border-color: $primary-color;
  color: $primary-color;
  background: #ffffff;
  @include on-event() {
    background-color: #ffffff;
  }
}

.button-pink {
  @extend .button;
  color: $primary-color;
  background: $pink-color;
  border: 0;
  @include on-event() {
    background-color: darken($pink-color, 5%);
  }
}

.button-red {
  @extend .button;
  background: $red-color;
  border: 0;
  @include on-event() {
    background-color: darken($red-color, 10%);
  }
}
