body.home {
  background-image: url('../assets/img/bg_home_s.jpg');

  // @include breakpoint(medium) {
  //   background-image: url('../assets/img/bg_home_m.jpg');
  // }

  @media screen and (min-width: 502px) {
    background-image: url('../assets/img/bg_home_m.jpg');
    background-size: cover;
  }

  @media screen and (min-width: 798px) {
    background-image: url('../assets/img/bg_home_l.jpg');
    background-size: cover;
  }

  background-position: bottom center;
  background-repeat: no-repeat;

  & > header {
    .logo {
      display: none;
    }

    .back-link-wrapper {
      display: none;
    }
  }

  main {
    .game-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: absolute;
      bottom: 38px;
      left: 0;
      right: 0;
      gap: 20px;

      &::before {
        content: '';
        display: block;
        width: 166px;
        height: 62px;
        margin: 0 auto;
        background-image: url('../assets/svg/logo.svg');
        margin-bottom: 12px;
      }

      a {
        @extend .button;
        width: 268px;
      }
    }
  }
}
