.round-statistics {
  & > main section {
    & .items {
      display: flex;
      flex-wrap: wrap;
      gap: 15px 10px;
      justify-content: space-between;

      & > div {
        flex-basis: calc(50% - 10px);
        position: relative;

        @include breakpoint(medium) {
          flex-basis: calc(20% - 10px);
        }

        @include breakpoint(large) {
          flex-basis: calc(20% - 10px);
        }

        img {
          max-width: 100%;
          border-radius: $primary-border-radius;
        }

        &::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          left: 15px;
          bottom: 15px;
          background-repeat: no-repeat;
          background-size: 30px;
          z-index: 1;
        }

        &.wrong {
          img {
            filter: grayscale(100%);
          }
          &::before {
            background-image: url('../assets/svg/answer_wrong.svg');
          }
        }
        &.correct {
          &::before {
            background-image: url('../assets/svg/answer_correct.svg');
          }
        }
      }
    }
  }

  #modal {
    .modal-content {
      .download {
        margin: 10px 0 0;
        a {
          background: url('../assets/svg/download.svg') 0 0 no-repeat;
          padding-left: 30px;
          display: inline-block;
          color: $primary-color;
          &:hover {
            text-decoration: none;
          }
        }
      }

      figure {
        margin-bottom: 15px;
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          width: 60px;
          height: 60px;
          left: 20px;
          bottom: 20px;
          background-repeat: no-repeat;
          background-size: 60px;
        }

        &.wrong::before {
          background-image: url('../assets/svg/answer_wrong.svg');
        }

        &.correct::before {
          background-image: url('../assets/svg/answer_correct.svg');
        }
      }
      text-align: center;
      h3 {
        font-size: 24px;
      }
      .details {
        margin-bottom: 20px;
      }
      .button {
        display: block;
        width: 100%;
      }
    }
  }
}
