// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

body > header {
  display: flex;
  justify-content: right;
  min-height: 60px;

  .arrow-left {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 34px;
    height: 34px;
    background-image: url('../assets/svg/arrow_left.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .logo {
    width: 108px;
    height: 42px;
    margin: 0 auto;
    background-image: url('../assets/svg/logo2.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    position: absolute;
    right: 0;
    left: 0;
    cursor: pointer;
  }
}
