// -----------------------------------------------------------------------------
// This file contains all styles related to the main section of the site/application.
// -----------------------------------------------------------------------------

body > main {
  flex-grow: 1;
  margin-bottom: 50px;
  transition: all 0.5s ease-in-out;
}
